.feedback {
  & .container {
    & .feedback__content {
      margin-top: 150px;
      & .feedback {
        &__title-box {
          margin-bottom: 40px;
          font-size: 40px;
        }
        &__form {
          display: flex;
          justify-content: space-around;
          align-items: center;
          & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & img {
              margin-bottom: 15px;
            }
            & input {
              margin-bottom: 40px;
              width: 400px;
              height: 50px;
              border: none;
              border-radius: 25px;
              padding: 15px;
              cursor: pointer;
              font-size: 18px;
            }
            & button {
              width: 200px;
              border: none;
              border-radius: 50px;
              height: 50px;
              outline: none;
              color: #385cbd;
              text-transform: uppercase;
              font-size: 20px;
            }
          }
          & .feedback__photo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & img {
              margin-bottom: 20px;
            }
            & .form__price {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              align-items: center;
              & span {
                font-size: 30px;
                margin-bottom: 15px;
              }
              & .line {
                height: 3px;
                background-color: black;
                position: absolute;
                width: 80px;
                transform: rotate(-10deg);
                top: 3700px;
              }
              & p {
                font-size: 45px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 900px) {
  .feedback {
    & .container {
      & .feedback__content {
        & .feedback {
          &__form {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            & .feedback__photo {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 900px) {
  .feedback {
    & .container {
      & .feedback__content {
        & .feedback {
          &__form {
            & .feedback__photo {
              & img {
                width: 191px;
                height: 290px;
              }
            }
            & form {
              & input {
                max-width: 250px;
              }
              & button {
                max-width: 150px;
              }
            }
          }
        }
      }
    }
  }
}